## git rm -rf --cached .
## git add .

.vscode
C_structures/Benchmark/**
C_structures/Test/**
C_structures/C_Native_Types
C++_structures/Benchmark/**
C++_structures/Test/**
C++_structures/C++_Native_Types
CSharp_structures/bin/**
CSharp_structures/obj/**
CSharp_structures/CSharp_structures.csproj
CSharp_structures/Structures/Benchmark/**
CSharp_structures/Structures/Test/**
CSharp_structures/CSharp_Native_Types
Java_structures/Java_Native_Types
Objective-C-C++_structures/Benchmark/**
Objective-C-C++_structures/Test/**
Python_structures/Benchmark/**
Python_structures/Test/**
Python_structures/__init__.py
Python_structures/Python_Native_Types
Swift_structures/Benchmark/**
Swift_structures/myTest/**
Swift_structures/StructureCollection/Test/**
Rust_structures/Rust_NativeTypes